.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9AC4EB;
    padding: 16px;
    color: #112333;
    font-family: Noto SansSerif, serif;
    font-size: 1.4em;
}

.pharmacy-logo {
    height: 50px;
    width: auto;
}

.title h1 {
    margin: 0;
    font-size: 1.4em;
}

.cart-icon {
    width: auto;
    cursor: pointer;
    height: 35px;
    margin: 0 10px;
}

.cart-icon:hover {
    opacity: 0.8;
}

.icons-container {
    display: flex;
    justify-content: space-between;
}